.name{
    width: 800px;
    height: 400px;
    border: 3px solid black;
    #modal-root {
        position: relative;
        z-index: 999;
      }
      .main{
        background-color: rgba(0,0,0,0.0);
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
        z-index: 99999;
      }
}

.input{
    width: 200px;
    height: 20px;
    background-color: lemonchiffon;
}

.input2{
    width: 200px;
    height: 20px;
    background-color: lemonchiffon;
    margin-top: 5%;
}
 .button{
    width: 200px;
    background-color: darkgrey;
    margin-top: 10px;
 }

 .button2{
    width: 200px;
    background-color: darkgrey;
    margin-top: 15px;
 }

 .div{
    margin-left: 6px;
    /* display: flex; */
 }


 .img{
margin: 20px;  
/* padding: 20px; */
position: absolute;
top: 1px;  
left: 350px;

























 }